@import url('/fonts/Limelight.css');
@import url('/fonts/JosefinSans.css');

:root {
    /*--gold: #B18861;*/
    /*--gold: #cf732a;*/
    --gold: #d4a55f;
    /*--background: #1D304F;*/
    --background: #152d4f;
    /*--foreground: #4d3a24;*/
    /*--foreground: #fdd979;*/
    --foreground: #fdd790;
    --paper: #f1eae0;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* General declarations */
[hidden] {
    display: none !important;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background: var(--background);
    /*background-image: url('/img/pattern.svg');*/
    background-size: 3rem;
    background-position: 50%;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Limelight', serif;
}

a,
a:visited {
    color: var(--foreground);
}

/* Language switch */
html:not([lang^=nl]) [lang=nl] {
    display: none;
}

html[lang^=nl] [lang=en] {
    display: none;
}

/* Layout & generic elements */
main {
    width: 100%;
    max-width: 100ch;
    margin: 3rem auto;
    display: flex;
    flex-flow: column;
    border: 20px solid;
    border-image: url('/img/borders.svg') 20 / 20px / 0px;
    background-image: url('/img/pattern.svg');
    background-size: 3rem;
    background-position: 50%;
    /*outline: 6px solid var(--background);*/
    /*padding:  1rem;
    display: flex;
    flex-flow: column;
    /*height: 100%;*
    min-height: 100%;*/
}

main .animation-container {
    flex: 0 0 50vh;
    position: relative;
}

header {
    height: 5rem;
    width:  58ch;
    margin: calc(-2.5rem - 13px) auto 0 auto;
    text-align: center;    
    background: var(--background);
    color: var(--foreground);
    /*clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);*/
    border-top: 2px solid var(--gold);
    border-bottom: 2px solid var(--gold);
/*    border: 20px solid;
    border-image: url('/img/borders.svg') 20 / 20px / 0px;*/
    /*border: 2px solid var(--gold);*/
    /*border-image-slice: 20;
    border-image-outset: 7px;*/
    position: relative;
}

header::after,
header::before {
    display: block;
    content: '';
    background: url('/img/endcap.svg');
    background-position: left center;
    background-size: auto 300px;
    /*height: 100%;*/
    position: absolute;
    top: -2px;
    bottom: -2px;
    --offset: calc(5rem * 0.5 + 10px);
}

header::after {
    left: 100%;
    right: calc(-1 * var(--offset));
    transform: scaleX(-1);
}

header::before {
    right: 100%;
    left: calc(-1 * var(--offset));
}

article {
    position: relative;
    background: var(--paper);
    padding: 1rem;
    margin: 2rem;
    width: calc(100% - 4rem);
    max-width: 58ch;
    align-self: center;
    border: .2rem solid var(--background);
    outline: .1rem solid var(--paper);
    text-align: center;
}

.animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.animation canvas {
    filter: drop-shadow(-5vmin 6vmin 15vmin #0008);
}

/* Template */
.template {
    display: none;
}

.template svg {
    shape-rendering: geometricPrecision;
    fill: black;
    font-family: 'Josefin Sans';
    font-weight: normal;
}

.template svg .solid {
    fill: black;
}

.template svg .hatch-line {
    stroke: #9e9e9e;
    stroke-width: 1;
}

.template svg .hatch {
    fill: url('#pattern-hatch');
}

.template svg .cut-mark {
    fill: none;
    stroke: black;
    stroke-width: 2.36;
}

.template svg .cut-mark.slot {
    stroke-width: 3.12;
}

.template svg .score-mark {
    fill: none;
    stroke: black;
    stroke-width: 2.36;
    stroke-dasharray: 20.83 10.42;
}

/*.template svg .cut-mark.invert,
.template svg .score-mark.invert {
    stroke: white;
    mix-blend-mode: exclusion; /* Safari/mobile may not like *
}*/

.template svg .watermark {
    fill: #ffff;
}

@media print {
    body {
        margin: 0mm;
        background: none;
    }
    main {
        display: none;
    }
    .template {
        display: block;
    }
    .template svg {
        max-height: 100vh;
        max-width: 100vw;
    }
}
